# https://onlinelibrary.wiley.com/doi/full/10.1002/adts.202100391
# Contributed by André Lanrezac

name: MARTINI3

types:
R 2.35 apolar
S 2.05 apolar
T 1.70 apolar

atoms:
ANY Q2 R
ANY Q1 R
ANY Qp R
ANY Qn R
ANY Q0 R
ANY P5 R
ANY P5d R
ANY P5a R
ANY P4 R
ANY P4d R
ANY P4a R
ANY P3 R
ANY P3d R
ANY P3a R
ANY P2 R
ANY P2d R
ANY P2a R
ANY P1 R
ANY P1d R
ANY P1a R
ANY N3 R
ANY N3a R
ANY N3d R
ANY N2 R
ANY N2a R
ANY N2d R
ANY N1 R
ANY N1a R
ANY N1d R
ANY N0 R
ANY N0a R
ANY N0d R
ANY C6 R
ANY C5 R
ANY C4 R
ANY C3 R
ANY C2 R
ANY C1 R
ANY WN R
ANY SQ2 S
ANY SQ1 S
ANY SQp S
ANY SQn S
ANY SQ0 S
ANY SP5 S
ANY SP5d S
ANY SP5a S
ANY SP4 S
ANY SP4d S
ANY SP4a S
ANY SP3 S
ANY SP3d S
ANY SP3a S
ANY SP2 S
ANY SP2d S
ANY SP2a S
ANY SP1 S
ANY SP1d S
ANY SP1a S
ANY SN3 S
ANY SN3a S
ANY SN3d S
ANY SN2 S
ANY SN2a S
ANY SN2d S
ANY SN1 S
ANY SN1a S
ANY SN1d S
ANY SN0 S
ANY SN0a S
ANY SN0d S
ANY SC6 S
ANY SC5 S
ANY SC4 S
ANY SC3 S
ANY SC2 S
ANY SC1 S
ANY TQ2 T
ANY TQ1 T
ANY TQp T
ANY TQn T
ANY TQ0 T
ANY TP5 T
ANY TP5d T
ANY TP5a T
ANY TP4 T
ANY TP4d T
ANY TP4a T
ANY TP3 T
ANY TP3d T
ANY TP3a T
ANY TP2 T
ANY TP2d T
ANY TP2a T
ANY TP1 T
ANY TP1d T
ANY TP1a T
ANY TN3 T
ANY TN3a T
ANY TN3d T
ANY TN2 T
ANY TN2a T
ANY TN2d T
ANY TN1 T
ANY TN1a T
ANY TN1d T
ANY TN0 T
ANY TN0a T
ANY TN0d T
ANY TC6 T
ANY TC5 T
ANY TC4 T
ANY TC3 T
ANY TC2 T
ANY TC1 T
